@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bomb Squad</h1>
    <p class="lead">Bienvenue sur le client web de Bomb Squad.</p>
    <!--<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>

<div class="container">
    <h1>Présentation</h1>
    <p>Projet de fin de session pour le cours IFT-604, Applications Internet et mobilité.</p>
    <p>Bomb Squad est un jeu de désamorçage de bombe en équipe.</p>
    
</div>


